// Add your own CSS here!

:root {
  --light: #f8f4e3;
  --dark: #07181e;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #071a32 !important;
  --dark: #b5ceea !important;
  --secondary: #b74446 !important;
  --visited: #b7d5d4 !important;
  --tertiary: #e6d2b0 !important;
  --primary: #0d5fcd !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}



